<ion-header>
  <ion-toolbar>
    <ion-title>Registro de datos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingrese sus datos</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-input type="text" label="Nombre" labelPlacement="floating" placeholder="Ingrese su nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" label="Apellido" labelPlacement="floating" placeholder="Ingrese su apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" label="Correo electronico" labelPlacement="floating" placeholder="Ingrese su correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Confirme su contraseña" labelPlacement="floating" placeholder="Confirme su contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="tel" label="Telefóno" labelPlacement="floating" placeholder="Ingrese su número telefonico"></ion-input>
    </ion-item>


  </ion-card>
  <ion-button shape="round" sice="full" color="light">Register</ion-button>
</ion-content>