<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons> <ion-menu-button autoHide="false"></ion-menu-button> </ion-buttons>
  <ion-title> Materias </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-label>
        <h1> Integrated English Practice</h1>
        <p>Profesor/a: Fernanda Constanza Inostroza Muller </p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-label>
        <h1> Placeholder class</h1>
        <p>Profesor/a: John doe teacher </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-label>
        <h1> Placeholder class</h1>
        <p>Profesor/a: John doe teacher </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-label>
        <h1> Placeholder class</h1>
        <p>Profesor/a: John doe teacher </p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>


