<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons> <ion-menu-button autoHide="false"></ion-menu-button> </ion-buttons>
  <ion-title>  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="primary">
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
      </ion-avatar>
      <ion-label>
        <h1>User Student</h1>
        <p>Cosas <span> Fuck you </span> </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-records-class1></app-records-class1>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


